Click==7.0
Flask==1.1.1
Flask-MongoAlchemy==0.7.2
Flask-WTF==0.14.2
Flask-Bcrypt==0.7.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
MongoAlchemy==0.19
pymongo==2.8.1
Werkzeug==0.15.5
WTForms==2.2.1
marshmallow==2.19.5
flask-marshmallow==0.10.1
requests
Flask_cors==3.0.8
flask-hashing==1.1
flask-serialize

